body {
    background-color: rgb(211, 157, 20); font-family: 'Times New Roman', Times, serif;
}

.Odin {font-size: 40px;}

h1,h3, .Odin {
    color: white; background-color: rgb(70, 2, 2);
}

h1 {
    font-size: 35px;
}

ul, ol, p, a {
    color: rgb(85, 2, 2); font-size: 20px; font-weight: 500;
}

h3, a {
    font-size: 25px;
}

.Tuwo, .Pounded, .Semo {
    height: 300px;
    width: 300px;
}

.Semo {
    width: 350px;
}