body {
    background-color: goldenrod; font-family: 'Times New Roman', Times, serif;
}

.Odin {font-size: 40px;}

h1,h3 {
    color: white; background-color: rgb(70, 2, 2);
}

h1 {
    font-size: 35px;
}

ul, ol, p {
    color: rgb(70, 2, 2); font-size: 20px;
}

h3 {
    font-size: 25px;
}

.Tuwo, .Pounded, .Semo {
    height: 300px;
    width: 300px;
}
